<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="/css/adminTW.css" />
        <script src="/sweetalert2/sweetalert2.all.js"></script>
    </head>
    <body
        class=" flex bg-repeat bg-fixed bg-cover bg-top bg-[url('/images/adminFondo.jpg')] items-center justify-center overflow-hidden">
        <main 
            class="bg-stone-800/90 drop-shadow-xl
            flex flex-col items-center justify-center gap-4 p-[2dvw] pb-[3dvh] w-[20rem] h-max rounded-lg overflow-hidden absolute top-[25%]">
            <span
                class="bg-[url('/icons/User.svg')] bg-cover bg-no-repeat object-fill w-[10rem] h-[10rem] invert"></span>
            <label class="text-[1.5rem] text-gray-200 font-Montserrat font-semibold">Bienvenido</label>
            <form
                id="form"
                action="/admin/login"
                method="post"
                class="flex flex-col items-center justify-center gap-4 font-Montserrat">
                    <input
                    class="bg-gray-400/70 rounded p-2 px-3 text-center hover:bg-gray-300/90 transition-all"
                        id="usuario"
                        type="text"
                        placeholder="Usuario"
                        autocomplete="off"
                        name="user"
                        required />
                    <input
                        class="bg-gray-400/70 rounded p-2 px-3 text-center hover:bg-gray-300/90 transition-all"
                        id="password"
                        type="text"
                        placeholder="Contrasena"
                        name="password"
                        autocomplete="off"
                        required />
                    
                <button 
                class="py-2 px-4 bg-red-900 text-gray-300 rounded font-Montserrat my-4 hover:scale-105 hover:bg-red-700 transition-all"
                id="btnlogin" type="submit">
                    Entrar
                </button>
            </form>
        </main>
    <script>
    document.getElementById('form').addEventListener('submit', async (e) => {
        e.preventDefault();

        const user = document.getElementById('usuario').value.trim();
        const password = document.getElementById('password').value.trim();

        try {
            const res = await fetch('/admin/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ user, password })
            });

            const data = await res.json();

            if (!res.ok || data.error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error de acceso',
                    text: data.error || 'Error en el inicio de sesión',
                });
                return;
            }

            Swal.fire({
                icon: 'success',
                title: 'Bienvenido',
                text: data.message || 'Inicio de sesión exitoso',
                timer: 1500,
                showConfirmButton: false,
            });

            setTimeout(() => {
                window.location.href = data.redirect
            }, 1500);

        } catch (err) {
            console.error('Error fetch login:', err);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Error de conexión con el servidor.',
            });
        }
    });
    </script>

    </body>
</html>
